---
import { getCollection } from "astro:content";

import MainContent from "@/components/main-content.astro";
import PageLayout from "@/layouts/page.astro";

const allSoftware = await getCollection("software");
---

<PageLayout title="Home">
	<MainContent>
		<ul>
			{
				allSoftware.map((software) => {
					return (
						<li>
							<article>
								<pre>{JSON.stringify(software, null, 2)}</pre>
							</article>
						</li>
					);
				})
			}
		</ul>
	</MainContent>
</PageLayout>
