---
import { getCollection } from "astro:content";

import MainContent from "@/components/main-content.astro";
import SoftwarePreviewCard from "@/components/software-preview-card.astro";
import PageLayout from "@/layouts/page.astro";

const allSoftware = await getCollection("software");
---

<PageLayout title="Home">
	<MainContent
		class="mx-auto grid w-full gap-y-2 border-t-5 border-t-brand-950 bg-neutral-100 pb-8 sm:gap-y-6"
	>
		<div class="bg-gradient-to-bl from-brand-200 to-brand-900 p-5 sm:px-16 sm:py-10">
			<div class="mx-auto grid max-w-7xl gap-y-3">
				<h1 class="text-2xl font-medium text-white md:text-4xl">Software Dashboard</h1>
				<p class="text-sm text-neutral-200 sm:text-base md:text-lg">
					Over the years, the <a
						class="underline decoration-dotted transition hover:text-white"
						href="https://www.oeaw.ac.at/acdh/research-units/dh-researchinfrastructure"
						>DH Research&Infrastructure</a
					> team has developed hundreds of specialized applications. Some of these applications are now
					established as so-called "core services", being used in numerous projects.
				</p>
			</div>
		</div>
		<ul
			class="m-auto grid grid-cols-[repeat(auto-fill,minmax(270px,1fr))] gap-8 p-0 px-5 py-3 sm:px-16 sm:py-10"
		>
			{
				allSoftware.map((software) => {
					return (
						<li>
							<SoftwarePreviewCard software={software} />
						</li>
					);
				})
			}
		</ul>
	</MainContent>
</PageLayout>
