---
import Link from "@/components/link.astro";
import { createI18n } from "@/lib/i18n";
// import { withBasePath } from "@/lib/with-base-path";

const { t } = await createI18n();
---

<footer class="border-t border-neutral-200 bg-neutral-50">
	{/** <div class="container"></div>*/}
	<div class="border-t border-neutral-200 bg-neutral-100 py-2 text-center text-xs text-neutral-700">
		<span>
			&copy;
			<a
				class="underline decoration-dotted underline-offset-4 hover:no-underline"
				href="https://www.oeaw.ac.at/acdh/"
			>
				ACDH-CH
			</a>
			{new Date().getUTCFullYear()}
		</span> |
		<Link class="underline decoration-dotted underline-offset-4 hover:no-underline" href="/imprint">
			{t("WebsiteFooter.links.imprint")}
		</Link> |
		<Link
			class="underline decoration-dotted underline-offset-4 hover:no-underline"
			href="/feed.xml"
		>
			{t("WebsiteFooter.links.feed")}
		</Link>
	</div>
</footer>
